body {
  background-color: lightskyblue;
}

Heading {
  color: white;
  background-color: skyblue;
  margin: 2px 5%;
}  

.Links {
  text-decoration: none;
  color: aqua;
  font-size: 0.5em;
}

#BoxOfLinks {
  background-color: slateblue;
}
